@model IEnumerable<CIS2055___Nemesys.Models.Documents.Report>

@{
    ViewData["Title"] = "Home Page";
}

<a class="nav-link text-dark" asp-area="" asp-controller="Reports" asp-action="Create">Add new report</a>

<table class="content-table">
    <tr>
        <th>Title</th>
        <th>Status</th>
        <th>Location</th>
        <th>Description</th>
        <th></th>
    </tr>
    @foreach(var report in Model)
    {
        <tr>
            <td>@report.Title</td>
            <td>@report._status</td>
            <td>@report.Location</td>
            <td>@report.Desc</td>
            <td><a asp-controller="Reports" asp-action="Expand" asp-route-rrn="@report.RRN">Expand</a></td>
        </tr>

    }
</table>