@model CIS2055___Nemesys.Models.Documents.Report
@{
    ViewData["Title"] = "Reports";
}
@* <h1>@ViewData["Title"]</h1> *@

<h2>Nemesys reports</h2>

@Html.BeginForm("AddNewReport", "Reports", FormMethod.Post) {
    @Html.TextBoxFor(m => m.Location, new {placeholder = "Location"});
    @Html.TextBoxFor(m => m.Desc, new {placeholder = "Description"});
    @Html.TextBoxFor(m => m.Reporter_Email, new {placeholder = "Email"});
    @Html.GetEnumSelectList(typeof(HazardType));
    <input type="submit" value="Submit"/>
}



<form action="">
    <input name="location" type="text" placeholder="location">
    
    <select name="HazardType" id="HazardType">
        <option value="UnsafeAct">UnsafeAct</option>
        <option value="Condition">Condition</option>
        <option value="Equipment">Equipment</option>
        <option value="Structure">Structure</option>
    </select>
    
    <textarea rows="4">Description</textarea>
    
    <input name="location" type="email" placeholder="email">
    
    <select name="ReportStatus" id="ReportStatus">
        <option value="Open">Open</option>
        <option value="CLosed">CLosed</option>
        <option value="BeingInvestigated">BeingInvestigated</option>
        <option value="NoAction">NoAction</option>
    </select>
    
    <input type="submit">
</form>